


@function mat-color($palette-primary, $hue: default, $opacity: null) {
    @if type-of($hue) == number and $hue >= 0 and $hue <= 1 {
      @return mat-color($palette-primary, default, $hue);
    }
  
    $color: map-get($palette-primary, $hue);  
    $opacity: if($opacity == null, opacity($color), $opacity);
  
    @if type-of($opacity) == string  {
      $new-string: str-replace($color, ')', '-alpha, 1)');
      @return rgba($color, $new-string);
    }
    @return rgba($color, $opacity);
}

@function hexToRGB($color) {
    @return (red($color),green($color),blue($color));
}
 
@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);
  
    @if $index {
      @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }
  
    @return $string;
}